body{ 
  min-height: 100vh; 
  margin:0; 
}

header{ 
  min-height:50px;
}

footer{ 
  min-height:50px;
}

body{ 
  display:flex; 
  flex-direction:column; 
}

article{ 
  flex:1; 
}

.content {
    display: grid;
    margin-top: 20rem;
    margin-left: 40rem;
    margin-right: 8%;
  }

  @media (max-width: 480px) {
    .content {
        margin-top: 70%;
        margin-left: 10%;
        margin-right: 8%;
        display: grid;
      }

    .content img {
        height: 100%;
        width: 100%;
    }
}